{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <section class="top-container text-center">
        <h2>ABOUT ME</h2>
        <br>
        <h4>Hey i'm Lasantha a software developer from Sri Lanka</h4>
        <br>
      <img class="img-thumbnail rounded mx-auto d-block w-50" src="static/images/python-code.jpg" alt="python-code-image">
      <br>  
      <p class="text-start d-inline-block">
        My name is Lasantha Kumara Mudalige. I'm from Kegalle which is a located in Sabaragamuwa Province in Sri Lanka. <br>
        I'm a high school grad graduated in 2018. Currently i'm learning Python and i have some experience in HTML, CSS, C and Java
      </p>
      

    </section>

    
{% endblock %}
