{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <section class="top-container">

        <section class="container"> 
            <section class="row">
                <section class="col-6">
                    <section class="intro">
                        <h1><b>Hey,</b> i'm Lasantha</h1>
                        <h2>I develop softwares using Python</h2>
                        <button class="btn btn-secondary"><a class="text-light text-decoration-none" href="mailto:lasantha1130@gmail.com">Say Hello!</a></button>
                    </section>
                </section>
                <sectionc class="col-6">
                  <section class="class-img">
                    <img src="static/images/me1.png" alt="pythons me class">
                  </section>
                </section>
            </section>

            <section class="socialmeadia-btns text-center align-bottom fixed-bottom">
              <button class="btn"><a class="text-secondary text-decoration-none" href="https://github.com/lasanthamudalige">Github</a></button>
              <button class="btn"><a class="text-secondary text-decoration-none" href="https://github.com/lasanthamudalige">Linkedin</a></button>
              <button class="btn"><a class="text-secondary text-decoration-none" href="https://github.com/lasanthamudalige">Facebook</a></button>
            </section>

        </section>
    </section>
    

{% endblock %}