{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <section class="top-container">

        <section class="container"> 
            <section class="row">
                <section class="col-lg-6 col-md-auto col-sm-auto">
                    <section class="intro">
                        <h1><b>Hey,</b> i'm Lasantha</h1>
                        <h2>A software developer from Sri Lanka</h2>
                        <button class="btn btn-secondary"><a class="text-light text-decoration-none" href="/contact">Say Hello!</a></button>
                    </section>
                </section>
                <section class="col-lg-6 col-md-auto col-sm-au">
                  <section class="class-img">
                    <img class="img-fluid" src="static/images/me1.png" alt="pythons me class">
                  </section>
                </section>
            </section>

        </section>
    </section>
    

{% endblock %}