{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <section class="top-container">

        <section class="container"> 
            <section class="row">
                <section class="col-lg-6 col-md-3 col-sm-2">
                    <section class="intro">
                        <h1><b>Hey,</b> i'm Lasantha</h1>
                        <h2>A software developer from Sri Lanka</h2>
                        <button class="btn btn-secondary"><a class="text-light text-decoration-none" href="mailto:lasantha1130@gmail.com">Say Hello!</a></button>
                    </section>
                </section>
                <sectionc class="col-lg-6 col-md-3 col-sm-">
                  <section class="class-img">
                    <img class="img-fluid" src="static/images/me1.png" alt="pythons me class">
                  </section>
                </section>
            </section>

            <section class="socialmeadia-btns text-center align-bottom fixed-bottom">
              <button class="btn"><a class="text-secondary text-decoration-none" href="https://github.com/lasanthamudalige">Github</a></button>
              <button class="btn"><a class="text-secondary text-decoration-none" href="https://www.linkedin.com/in/lasantha-mudalige-98626a212/">Linkedin</a></button>
              <button class="btn"><a class="text-secondary text-decoration-none" href="https://www.facebook.com/lasantha.kumara.77964/">Facebook</a></button>
            </section>

        </section>
    </section>
    

{% endblock %}